/*body {

    background: black;
    font-weight: 300;
    padding-bottom: 100px;
    background-color: #154265 20%;
    font-color: #f8f8f8;
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #e0659b 60%, #4f3a85);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #e0659b 60%, #4f3a85);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #e0659b 60%, #4f3a85);
    background-attachment: fixed, fixed;
    /*font-family: myFirstFont;
}*/

/*body {
    background: white;
}
*/
/*grey transparent background*/

    iframe { border: none; }   

  .pinkbody {
      background: black;
  font-weight: 300;
  padding-bottom: 100px;
  background-color: #154265 20%;
  font-color: #f8f8f8;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, #e0659b 60%, #4f3a85);
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #e0659b 60%, #4f3a85);
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #e0659b 60%, #4f3a85);
  background-attachment: fixed, fixed;
  /*font-family: myFirstFont;*/
  font-family: "Prompt", sans-serif;
  }

.widget {
	   border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 12px 17px;
    color: #f8f8f8;
    background: rgba(51, 51, 51, 0.4);
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    color: white;
}

.ul-logout {
  min-width: 100px;
}

.btn-logout {
  background-color: transparent;
}

.btn-logout:hover,.btn-logout:focus, {
  color:grey;
}

.btn-logout:visited,.btn-logout:active, {
  color:white;
}

p {
	color: #333;
}

p.nav {

}

p.query-head {
  color: #222;
  font-weight: bold;
}

p.query-body {
  color: #555;
}

a, a:visited,a:active {
	color: white;

}

.account {
    width: 180px;
    background: rgba(51, 51, 51, 0.85);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px !important;
    color: #fff;
}



a:hover { 
    color: grey !important;
}


.genedbutton {

}

table.navbar {
	float: right;
}

td,th {
  border-right: solid 1px rgba(0, 0, 0, .05); 
  border-left: solid 1px rgba(0, 0, 0, .05);
  font-weight: bold;
  color: white;

}

.query_result {
	overflow: scroll;
	width: 100%;
    height: 400px;
    overflow-x:hidden;
}

/*for hiding scroll bar*/
.query_result {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.query_result::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}


/*bootsrap overwrite*/

/*class section information panel*/
.panel-body {
    padding: 7px 15px;
}

.btn {
    transition: background-color 0.2s;
    margin: 5px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-default {
    color: #fff;
    background-color: #666;
    border-color: rgba(0, 0, 0, 0.15);
}

.btn-default:hover {
    color: #fff;
    background-color: #4d4d4d;
    border-color: rgba(0, 0, 0, 0.15);
}

/*.btn:focus, .btn:hover {
  color: grey !important;
}*/

.btn:hover, .btn:focus {
    color: #fff;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.08);
}

/*end bootstrap overwrite*/

.table-schedu {
  min-width: 690px;
}

/*for adding glyphicon in form*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*end for adding glyphicon in form*/

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.vertical-align {
    display: flex;
    align-items: center;
    top:50%;
}

.input-transparent {
    border: none;
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.4);
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 12px;
    font-size: 13px;
    line-height: 1.728571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

iframe {
  border: none;
}

.single-widget-container {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}


